[defaults]
inventory = /etc/inventory/hosts.yml
host_key_checking = False
remote_user = root
become = True
become_method = sudo
become_user = root
roles_path = /etc/ansible/roles
log_path = /etc/ansible/ansible.log

[ssh_connection]
pipelining = True
timeout = 30
